[data-scroll-container] {
  height: auto;
  background-color: black;
}

.has-scroll-smooth {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  overflow: hidden;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
  opacity: 1;
}

.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.5;
  margin: 2px;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing;
}